p Dear #{name},

p We are pleased to confirm your booking appointment with us. Below are the details of your booking:

p
  strong Service Type: 
  | #{serviceType}
p
  strong Booking Date: 
  | #{bookingDate}
p
  strong Booking Time: 
  | #{appointmentTime}
p
  strong Email: 
  | #{email}
p
  strong Phone No.: 
  | #{phone}

p If you need to reschedule or cancel your appointment, please contact us at least 24 hours in advance.

p We look forward to serving you! If you have any questions or need further assistance, feel free to reach out to us at jenniferyalley@gmail.com or call us at 0246845133.

p Thank you for choosing us!

p Best regards,
p The Jenni's Hair Team